---
import Layout from '../layouts/Layout.astro';
import Background from '../components/Background.astro';
---

<Layout title="Agroeasy – Klevisoft">
  <Background
    title="Software Agroeasy para Etiquetado, Paletización y Embarques."
    style="text-white text-center px-2 py-[30vh]"
    bg="bg-agroeasy" 
  />
  <div class="bg-blue p-[100px]">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas vero fuga beatae corrupti voluptatibus illum dolore doloribus fugiat reprehenderit magni quam, atque ullam accusantium modi laboriosam repudiandae amet nesciunt cum?</p>
  </div>
</Layout>