---
import Layout from '../layouts/Layout.astro';
import Background from '../assets/videos/Worldwebmsjs.mp4';
---

<Layout title="Contáctanos – Klevisoft">
  <section class="flex items-center bg-gradient-to-r from-cyan to-blue">
    <video src={Background} style="width: 1920px; height: 1080px;" preload="true" controls="" autoplay="" transition:persist>
      <source src={Background} type="video/mp4"/>
    </video>
  </section>
</Layout>