---
import Layout from '../layouts/Layout.astro';
import Background from '../assets/videos/Worldwebmsjs.mp4';
import Formulario from '../sections/Formulario.astro';
---

<Layout title="Contáctanos – Klevisoft">
  <section class="bg-fixed w-full bg-cover bg-center bg-no-repeat">
    <Formulario />
  </section>
</Layout>