---
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/Carousel.astro';
---

<Layout title="KleviShop – Klevisoft">
  <section id="directoresCEO">
    <Carousel tipo="ceo"/>
  </section>
  <section id="ingenierosSoftware">
    <Carousel tipo="ing"/>
  </section>
</Layout>