---
import Layout from '../layouts/Layout.astro';
---

<Layout title="KleviShop – Klevisoft">
  <section class="flex items-center h-full p-16">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-bold text-9xl">
          <span class="text-primary dark:text-gray-300">Pagina de KleviShop</span>
        </h2>
      </div>
    </div>
  </section>
</Layout>