---
import Layout from '../layouts/Layout.astro';
import Background from '../components/Background.astro';
---

<Layout title="KleviShop – Klevisoft">
  <Background
    title="Equipos tecnológicos para Etiquetado y Embarque, eleva la eficiencia agrícola con KleviShop." 
    style="text-white text-center px-2 py-[30vh]"
    bg="bg-klevishop" 
  />
  <div class="bg-blue p-[100px]">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas vero fuga beatae corrupti voluptatibus illum dolore doloribus fugiat reprehenderit magni quam, atque ullam accusantium modi laboriosam repudiandae amet nesciunt cum?</p>
  </div>
</Layout>