---
import SideBar from "../../components/SideBar.astro";
---

<button type="button" name="menu">
    <svg class="fill-gray hover:fill-cyan size-full h-[100px] pt-3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 5C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H4ZM3 12C3 11.4477 3.44772 11 4 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H4C3.44772 13 3 12.5523 3 12ZM3 18C3 17.4477 3.44772 17 4 17H20C20.5523 17 21 17.4477 21 18C21 18.5523 20.5523 19 20 19H4C3.44772 19 3 18.5523 3 18Z"></path>
    </svg>
</button>

<!-- Sidebar para tabletas/telefonos -->
<SideBar
    id="default-sidebar"
    style="fixed top-0 right-0 z-40 w-64 h-screen transition-transform translate-x-full"
/>

<script>
    // Boton para abrir el sidebar
    const menuBtn = document.querySelector("button[name='menu']") as HTMLButtonElement;
    const sidebar = document.getElementById('default-sidebar') as HTMLElement;
    menuBtn.addEventListener('click', (e) => {
        e.preventDefault();
        sidebar.classList.remove('translate-x-full');
        sidebar.classList.add('translate-x-0');
    });
</script>