
<div id="accordion" data-accordion="collapse" class="rounded shadow-xl" data-active-classes="text-green">

    <h2 id="accordion-heading-1">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-dark-green border border-b-0 border-gray rounded-t-xl focus:ring-4 focus:ring-green gap-3 bg-light-gray" data-accordion-target="#accordion-body-1" aria-expanded="false" aria-controls="accordion-body-1">
        <span>Catálogos</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-body-1" class="hidden" aria-labelledby="accordion-heading-1">
      <div class="p-5 border border-b-0 border-gray">
        <p class="text-gray text-left">lor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, laborum consequatur animi rerum placeat debitis nam autem praesentium quasi, minus incidunt voluptatum eveniet ipsum rem aut vitae corporis cupiditate libero!</p>
      </div>
    </div>

    <h2 id="accordion-heading-2">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-dark-green border border-b-0 border-gray focus:ring-4 focus:ring-green gap-3 bg-light-gray" data-accordion-target="#accordion-body-2" aria-expanded="false" aria-controls="accordion-body-2">
        <span>Procesos</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-body-2" class="hidden" aria-labelledby="accordion-heading-2">
      <div class="p-5 border border-b-0 border-gray">
        <p class="text-gray text-left">lor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, laborum consequatur animi rerum placeat debitis nam autem praesentium quasi, minus incidunt voluptatum eveniet ipsum rem aut vitae corporis cupiditate libero!</p>
      </div>
    </div>

    <h2 id="accordion-heading-3">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-dark-green border border-b-0 border-gray focus:ring-4 focus:ring-green gap-3 bg-light-gray" data-accordion-target="#accordion-body-3" aria-expanded="false" aria-controls="accordion-body-3">
        <span>Trazabilidad</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-body-3" class="hidden" aria-labelledby="accordion-heading-3">
      <div class="p-5 border border-b-0 border-gray">
        <p class="text-gray text-left">lor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, laborum consequatur animi rerum placeat debitis nam autem praesentium quasi, minus incidunt voluptatum eveniet ipsum rem aut vitae corporis cupiditate libero!</p>
      </div>
    </div>

    <h2 id="accordion-heading-4">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-dark-green border border-b-0 border-gray focus:ring-4 focus:ring-green gap-3 bg-light-gray" data-accordion-target="#accordion-body-4" aria-expanded="false" aria-controls="accordion-body-4">
        <span>Control de Materiales de Empaque</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-body-4" class="hidden" aria-labelledby="accordion-heading-4">
      <div class="p-5 border border-b-0 border-gray">
        <p class="text-gray text-left">lor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, laborum consequatur animi rerum placeat debitis nam autem praesentium quasi, minus incidunt voluptatum eveniet ipsum rem aut vitae corporis cupiditate libero!</p>
      </div>
    </div>

    <h2 id="accordion-heading-5">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-dark-green border border-b-0 border-gray focus:ring-4 focus:ring-green gap-3 bg-light-gray" data-accordion-target="#accordion-body-5" aria-expanded="false" aria-controls="accordion-body-5">
        <span>Reportes y Consultas</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-body-5" class="hidden" aria-labelledby="accordion-heading-5">
      <div class="p-5 border border-b-0 border-gray">
        <p class="text-gray text-left">lor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, laborum consequatur animi rerum placeat debitis nam autem praesentium quasi, minus incidunt voluptatum eveniet ipsum rem aut vitae corporis cupiditate libero!</p>
      </div>
    </div>

    <h2 id="accordion-heading-6">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-dark-green border border-gray  focus:ring-4 focus:ring-green gap-3 bg-light-gray" data-accordion-target="#accordion-body-6" aria-expanded="false" aria-controls="accordion-body-6">
        <span>Utilerías</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-body-6" class="hidden" aria-labelledby="accordion-heading-6">
      <div class="p-5 border border-gray rounded-b-xl">
        <p class="text-gray text-left">lor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, laborum consequatur animi rerum placeat debitis nam autem praesentium quasi, minus incidunt voluptatum eveniet ipsum rem aut vitae corporis cupiditate libero!</p>
      </div>
    </div>

    
  </div>
  
<script>
 import { Accordion } from 'flowbite'
</script>