<div id="y-axis">
  <div id="sticky-div" class="overflow-hidden">
    <h1 class="text-6xl font-bold text-center">Proyectos</h1>
      <div id="x-axis" class="relative w-full">
        <div id="content" class="grid grid-flow-col auto-cols-[21%] gap-3 p-3 snap-x">
            <div class="elemento">
              <img src="https://daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.jpg" class="rounded-box" />
              <p>titulo1</p>
            </div> 
            <div class="elemento">
              <img src="https://daisyui.com/images/stock/photo-1565098772267-60af42b81ef2.jpg" class="rounded-box" />
              <p>titulo2</p>
            </div> 
            <div class="elemento">
              <img src="https://daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.jpg" class="rounded-box" />
              <p>titulo3</p>
            </div> 
            <div class="elemento">
              <img src="https://daisyui.com/images/stock/photo-1494253109108-2e30c049369b.jpg" class="rounded-box" />
              <p>titulo4</p>
            </div> 
            <div class="elemento">
              <img src="https://daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.jpg" class="rounded-box" />
              <p>titulo5</p>
            </div> 
            <div class="elemento">
              <img src="https://daisyui.com/images/stock/photo-1559181567-c3190ca9959b.jpg" class="rounded-box" />
              <p>titulo6</p>
            </div> 
            <div class="elemento">
              <img src="https://daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.jpg" class="rounded-box" />
              <p>titulo7</p>
            </div>
            <div class="elemento">
              <img src="https://daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.jpg" class="rounded-box" />
              <p>titulo1</p>
            </div> 
            <div class="elemento">
              <img src="https://daisyui.com/images/stock/photo-1565098772267-60af42b81ef2.jpg" class="rounded-box" />
              <p>titulo2</p>
            </div> 
            <div class="elemento">
              <img src="https://daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.jpg" class="rounded-box" />
              <p>titulo3</p>
            </div> 
            <div class="elemento">
              <img src="https://daisyui.com/images/stock/photo-1494253109108-2e30c049369b.jpg" class="rounded-box" />
              <p>titulo4</p>
            </div> 
            <div class="elemento">
              <img src="https://daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.jpg" class="rounded-box" />
              <p>titulo5</p>
            </div> 
            <div class="elemento">
              <img src="https://daisyui.com/images/stock/photo-1559181567-c3190ca9959b.jpg" class="rounded-box" />
              <p>titulo6</p>
            </div> 
            <div class="elemento">
              <img src="https://daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.jpg" class="rounded-box" />
              <p>titulo7</p>
            </div>
        </div>
    </div>
  </div>
</div>

<style>

#y-axis {
  background-color: #ff0000;
}

#sticky-div {
  height: 100vh;
  background-color: hsla(0, 0%, 100%, 0.51);
}

#x-axis {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.elemento {
  scroll-snap-align: start;
  display: grid;
  gap: 2rem;
  grid-template-rows: min-content;
  padding:2rem;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: pointer;
}

.elemento > img {
  inline-size: 100%;
  aspect-ratio: 16 / 12;
  object-fit: cover;
}
</style>

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);
  const elementos = document.querySelector("#content") as HTMLElement;

  function getScrollAmount() {
    const elmtWidth = elementos.scrollWidth;
    return -(elmtWidth - elementos?.offsetWidth);
  }
  
  const tween = gsap.to("#x-axis", {
    x: getScrollAmount,
    ease: "none",
    duration: 3,
  });

  ScrollTrigger.create({
    trigger: "#y-axis",
    start: "top",
    end: "2500px", // <-- Aqui es donde se cambia la velocidad.
    pin: true,
    animation: tween,
    // markers: true,
    scrub: 1,
  });

</script>