<div class="fixed end-6 bottom-6 group">
    <button id="scroll" type="button" class="shadow-2xl flex items-center justify-center text-white rounded-full w-14 h-14 bg-dark-cyan hover:bg-cyan focus:ring-4 focus:ring-blue-300 focus:outline-none">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> 
            <path d="M12 6V18M12 6L7 11M12 6L17 11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
</div>


<script>
    const scrollBtn = document.getElementById('scroll') as HTMLButtonElement | null;

    scrollBtn?.addEventListener('click', scrollToTop);

    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 250 || document.documentElement.scrollTop > 250) {
            scrollBtn?.classList.remove("hidden");
        } else {
            scrollBtn?.classList.add("hidden");
        }
    }

    function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    }
</script>
