<section class="flex flex-col items-center bg-gradient-to-r from-white to-gray">
    <div class="text-center mx-10 my-20 text-dark-blue font-bold space-y-9">
        <div>
            <h1 class="text-6xl">
                Bienvenidos a Klevisoft
            </h1>
        </div>
        
        <div class="mx-[10%]">
            <p class="text-left text-xl">
                Conocimientos en el ámbito tecnológico empresarial, habilidades tecnológicas avanzadas y asesoramiento especializado en consultoría.
            </p>
        </div>
    </div>
</section>