---
import Img from '../assets/images/image-1.jpg'
---

<section class="bg-gradient-to-r from-white to-light-gray">
    <div class="py-10 lg:px-[15vmax] flex flex-col lg:flex-row gap-12 items-center">
        <img class="rounded shadow-lg min-w-[400px] size-6/12" src={Img.src} alt="">
        <div class="size-6/12 text-center py-10 lg:py-0 text-dark-blue font-bold space-y-9">
            <div>
                <h1 class="text-4xl sm:text-5xl underline decoration-green underline-offset-8">
                    Desarrollo de software empresariales
                </h1>
            </div>
            
            <div>
                <p class="text-left text">
                    Donde la innovación y la excelencia se fusionan para dar vida a soluciones informáticas de última generación. Como casa desarrolladora de software en México, nuestro equipo de programadores talentosos está listo para llevar tu visión al siguiente nivel. Desde aplicaciones móviles hasta sistemas empresariales personalizados, en Klevisoft convertimos ideas en realidades digitales.
                </p>
            </div>
        </div>
    </div>
</section>