---
import Button from '../components/Button.astro';
---

<section class="px-[23vmax] flex flex-col items-center bg-gradient-to-r from-cyan to-blue">
    <div class="text-center mx-10 my-20 space-y-10">
        <div>
            <h1 class="font-bold text-6xl">
                <span class="text-white">Descubre Nuestras Soluciones Tecnológicas.</span>
            </h1>
        </div>
        <div class="space-y-8">
            <p class="text-left font-bold text-xl text-white">
                Klevisoft se dedica a crear soluciones tecnológicas innovadoras y de calidad, siempre cumpliendo con los plazos establecidos, para que pueda centrarse en dirigir su empresa.
            </p>
            <p class="text-left font-bold text-xl text-white">
                Con más de 25 años de experiencia en desarrollo, nuestro equipo tiene una sólida trayectoria y presencia en oficinas en Sonora-México, lo que nos permite trabajar en sincronía con nuestros clientes y estar disponibles durante sus horarios laborales.            </p>
        </div>
        <div class="pt-3">
            <Button
                title="Conoce mas"
                style="rounded-lg px-8 py-5 text-xl bg-white text-dark-blue hover:bg-cyan hover:text-white transition-colors cursor-pointer duration-300"
                href="/nosotros"
		    />
        </div>
    </div>
</section>