---
import Button from '../components/Button.astro'
---

<section class="bg-blue py-[5vh] px-[20vw] text-white text-2xl flex-col space-y-10">
    <p>Bienvenido a Klevisoft, una empresa mexicana especializada en sistemas informáticos y desarrollo de software de vanguardia. Con un equipo sólido de programadores altamente capacitados, nos dedicamos a ofrecer soluciones tecnológicas que transforman la forma en que las empresas gestionan sus operaciones.</p>
    <div class="text-center">
      <Button
        title="Ingenieros Klevisoft"
        style="rounded-lg px-8 py-5 text-xl bg-white text-dark-blue hover:bg-blue hover:border hover:border-white hover:text-white transition-colors cursor-pointer duration-300"
        href="/nosotros"
      />
    </div>
</section>