---
import misionImg from '../assets/images/iStock-1221528134-qfp6v6zykamj81vbv0qf17c9ss4x3z0kt1a5g1tc4g.jpg'
import visionImg from '../assets/images/iStock-1752167338-qfp6v8vmxyp3v9slk1jo66v6zjvnjd81hal4elqjs0.jpg'
---

<section class="m-20 md:h-[150vh] grid md:grid-cols-2 md:gap-[15%] place-content-center text-blue">
    <div class="size-[50vh] md:w-full text-center grid place-items-center">
        <div>
            <h1 class="text-5xl font-bold mb-5">Misión</h1>
            <p class="text-left text-xl">En Klevisoft, nuestra misión es impulsar la excelencia tecnológica al proporcionar soluciones de software innovadoras y de alta calidad que transformen la manera en que las empresas abordan los desafíos digitales. Nos comprometemos a ofrecer un desarrollo de software personalizado y confiable que potencie el crecimiento y la eficiencia de nuestros clientes, aportando valor y soluciones adaptadas a sus necesidades únicas.</p>
        </div>
    </div>
    <div class="size-[50vh] md:w-full flex justify-center">
        <img class="hover:-translate-y-6 duration-500 ease-in-out shadow-md object-fill rounded-lg" src={misionImg.src} alt="Mision Imagen">
    </div>
    <div class="size-[50vh] md:w-full flex justify-center order-last md:order-none">
        <img class="hover:-translate-y-6 duration-500 ease-in-out shadow-md object-fill rounded-lg" src={visionImg.src} alt="Vision Imagen">
    </div>
    <div class="size-[50vh] md:w-full text-center grid place-items-center">
        <div>
            <h1 class="text-5xl font-bold mb-5">Visión</h1>
            <p class="text-left text-xl">Nuestra visión en Klevisoft es ser reconocidos como líderes en la industria del desarrollo de software, distinguiéndonos por nuestra capacidad para generar soluciones tecnológicas de vanguardia que superen las expectativas y promuevan la innovación. Aspiramos a ser un referente en la creación de aplicaciones inteligentes y funcionales que impulsen el éxito de nuestros clientes, posicionándonos como socios confiables y expertos en tecnología a nivel nacional e internacional.</p>
        </div>
    </div>
</section>