---
import Button from '../components/Button.astro'
---

<section class="flex flex-col items-center bg-bottom bg-klevi-1 ">
    <div class="bg-clip-border backdrop-blur-lg">
        <div class="text-center my-20 text-dark-blue font-bold space-y-10">
            <div class="m-5 md:mx-[10vw]">
                <h1 class="mb-10 text-5xl sm:text-6xl md:text-7xl">
                    <strong>Transformando Ideas en Soluciones Digitales</strong>
                </h1>
                <p class="md:mx-[9vw] text-left text-xl">
                    Somos una empresa desarrolladora de software enfocados en la gestion de procesos para empresas, realizamos softwares a la medida. Conoce nuestro ERP Agroeasy enfocado al sector agricola.
                </p>
            </div>
            <div class="flex flex-col gap-5 sm:flex-row sm:gap-10 justify-center font-normal p-5">
                <Button
                    title="Conocenos"
                    style="sm:size-3/12 rounded-lg text-xl px-8 py-5 text-center text-cyan hover:text-white border border-cyan hover:bg-cyan focus:ring-1 focus:outline-none focus:ring-cyan"
                    href="/nosotros"
                />
                <Button
                    title="Agroeasy"
                    style="sm:size-3/12 rounded-lg text-xl px-8 py-5 text-center text-green hover:text-white border border-green hover:bg-green focus:ring-1 focus:outline-none focus:ring-green"
                    href="/agroeasy"
                />
            </div>
        </div>
    </div>
</section>