---
import Option from '../components/MenuOption.astro';
import Button from '../components/Button.astro'
import Search from '../assets/svg/search.astro';
import Logo from '../assets/images/klevisoft_logo_sinfondo.png';
import Menu from '../assets/svg/menu.astro';
import Sidebar from '../components/SideBar.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="py-[2.125rem] bg-blue shadow-xl">
			<nav class="mx-auto max-w-container px-4 sm:px-6 lg:px-8">
				<div class="relative flex items-center place-content-between">
					<a href="/" class="hover:opacity-75 transition-opacity duration-300 mr-7 lg:m-0">
						<img class="w-[20rem] text-white" src={Logo.src} alt="Klevisoft logo">
					</a>
					<div class="pt-8 ml-auto hidden lg:flex lg:items-center">
						<Option
							href="/"
							title="Inicio"
						/>
						<Option
							href="/nosotros"
							title="Nosotros"
						/>
						<Option
							href="/agroeasy"
							title="Agroeasy"
						/>
						<Option
							href="/klevishop"
							title="KleviShop"
						/>
						<Button 
							title="Contáctanos" 
							style="list-none rounded-lg px-8 py-5 text-xl bg-gray text-dark-blue hover:bg-cyan hover:text-white transition-colors cursor-pointer duration-300" 
							href="/contactanos"/>
						<Search/>
					</div>
					<!-- Menu para tabletas/telefonos -->
					<div class="lg:hidden">
						<Menu/>
					</div>
				</div>
			</nav>
		</header>

		<main>
			<slot/>
		</main>

		<footer class="inset-x-0 bottom-0 bg-dark-blue shadow">
			<div class="text-white inset-x-0 bottom-0 w-full max-w-screen-xl mx-auto px-4 md:py-8">
				<div class="justify-items-center sm:flex sm:items-center sm:justify-between">
					<div class="mx-[20vmin] py-2 sm:p-0 sm:m-0 sm:size-4/12 sm:pr-[15vmin]">
						<a href="/">
							<img class="size-full flex place-self-center" src={Logo.src} alt="Klevisoft logo"/>
						</a>
					</div>
					<ul class="sm:size-4/12 flex flex-col text-left items-center mb-6 text-sm font-medium sm:mb-0">
						<li>
							<p class="hover:underline">Contacto</p>
						</li>
						<li>
							<p class="hover:underline">(+52) 662-300-7312</p>
						</li>
						<li>
							<p class="hover:underline">klevisoft@gmail.com</p>
						</li>
					</ul>
					<p class="mx-[20vmin] sm:m-0 sm:p-0 text-center sm:text-end sm:size-4/12">
						Tu Visión, Nuestra Realidad Digital,
						Empoderamos Negocios a través del 
						Desarrollo Tecnológico.
					</p>
				</div>
				<hr class="my-6 border-white sm:mx-auto lg:my-4" />
				<span class="block text-sm text-center">
					KLEVISOFT 2024 | © Copyright. Todos lo derechos reservados.
				</span>
			</div>
		</footer>

	</body>
</html>


<style is:global>
	
	html {
		font-family: system-ui, sans-serif;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	::selection {
		background: #333333;
		color: white;
	}
</style>